.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #474747;
  color: #fff;
  padding: 1rem;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}


