.comment-container{
     border: 1px solid #535353;
    border-radius: 9px;
}
.comment-list {
    list-style: none;
    padding: 0;
}

.comment-card {
    border: 1px solid #535353;
    border-radius: 9px;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 0rem;
    margin-bottom: 1rem;
    background-color: #bae6be;
}

.comment-author {
    color: #135a50;
    font-weight: bold;
    font-size: 1.2rem;
}

.comment-body {
    color: #141414;
    font-size: 1.2rem;

}

.comment-date {
    color: #135a50;
    font-weight: bold;
    font-size: 1.2rem;
}

.comment-votes {
    color: #666;
    font-size: 1.2rem;
    text-align: right;
}

.new-comment-container {
     border: 1px solid #535353;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 375px;
    justify-content: center;
}

.new-comment-body {
    width: 375px;
    height: 50px;
    font-size: large;
}

.new-comment-submit-buton{
    font-size: larger;
    margin-bottom: 1rem;
}

.comment-user-field {
    color: #000000;
    font-size: 1.2rem;
    text-align: left;
}